<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">SnackBar</h1>
      <h2 class="subtitle">
        Snackbar Sample for Netprecision
      </h2>
    </div>
  </div>
</section>
<div class="notification {{messageColor}}">
  <button class="delete"></button>
  {{message}}
</div>
<section class="hero" *ngIf="orderId == null">
  <div class="hero-body">
    <div class="container">
      <button class="button is-primary" (click)="createOrder()">New Order</button>
    </div>
  </div>
</section>
<section class="hero" *ngIf="orderId != null">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle">Order: {{orderId}}</h1>
      <table class="table" *ngIf="order != null">
        <thead>
          <tr>
            <th>
              <abbr title="Code">Code</abbr>
            </th>
            <th>
              <abbr title="Product">Product</abbr>
            </th>
            <th>
              <abbr title="Quantity">Qtd.</abbr>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items">
            <td>{{item.product.code}}</td>
            <td>{{item.product.name}}</td>
            <td>{{item.quantity}}</td>
            <td></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <td>
              <input class="input" #code placeholder="Code..." type="text">
            </td>
            <td>
              <input class="input" #quantity placeholder="Quantity..." type="text">
            </td>
            <td colspan="2">
              <a href="#" class="button is-primary" (click)="addProduct(code.value, quantity.value);">+ Add</a>
            </td>
          </tr>
        </thead>
      </table>
      <p>Total: {{total}}</p>
    </div>
  </div>
</section>
<section class="hero" *ngIf="order != null">
  <div class="hero-body">
    <div class="container">
      <input class="input" #amount type="text" placeholder="Payment...">
      <button class="button" (click)="getExchange(amount.value);">Compute Exchange</button>
      <p>Exchange: {{exchange}}</p>
    </div>
  </div>
</section>